.wrapper
    - const upDog = dog.toUpperCase();
    p.hello hello! my name is #{name}
    p.dog and my dog's name is #{upDog}
    img.dog(src="dog.jpg" alt=`dog ${dog}`)
    p 
        span#yo Yo
    // tag.hello makes a class of hello
    // tag#yo creates an ID of yo
    